@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Roboto:wght@300;400;500&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #252422;
    --color-secundary: #F24B4B;
    --color-tertiary: #F2F0D8;
}

body {
    background-color: var(--color-primary);
    text-align: center;
    font-family: 'Iceland', cursive, sans-serif;
}

h1 {
    color: var(--color-secundary);
    font-size: 65px;
    margin: 5px auto;
}

/* Botões */
.button-container button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin: 5px;
    padding: 10px;
    height: 40px;
    width: 120px;
    background-color: var(--color-tertiary);
    border: 1px solid #000000;
    box-shadow: -4px 6px;
    cursor: pointer;
}

.button-container button:hover {
    border: 3.5px solid var(--color-secundary);
}

/* Game */
#container {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 100px;
    border: 4px solid var(--color-tertiary);
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1,
#block-2,
#block-3 {
    border-top: none;
}

#block-1,
#block-4,
#block-7 {
    border-left: none;
}

#block-7,
#block-8,
#block-9 {
    border-bottom: none;
}

#block-3,
#block-6,
#block-9 {
    border-right: none;
}

/* Símbolos */
.x {
    font-size: 88px;
    color: var(--color-secundary);
    display: inline-block;
    line-height: 100px;
}

.o {
    height: 50px;
    width: 50px;
    border: 5px solid #20c098;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
}

/* Classe de esconder */
/* .hide {
    display: none !important;
} */

/* Placar */
.scoreboard-container {
    margin-top: 10px;
    font-size: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.scoreboard-container h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.score-box {
    margin: 0 20px;
}

#x-scoreboard {
    color: var(--color-secundary);
    margin-right: 3px;
}

#o-scoreboard {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #20c098;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 3px;
}

::-webkit-scrollbar {
    display: none;
}

/* Mensagem */
#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    font-size: 50px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    display: none;
}